/* Basic Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    color: #333;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    justify-content: center;
}

h1 {
    color: #2c3e50;
    margin-bottom: 20px;
}

#buttons {
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%; /* Control the total width to align buttons */
    max-width: 960px; /* Adjust to your preferred max-width to fit 4 buttons */
}

.button, button { /* Apply styles to both .button class and button elements */
    background-color: #3498db;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    border-radius: 5px;
    text-transform: uppercase;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: calc(25% - 10px); /* Calculate width to fit 4 per row, accounting for margin */
    text-align: center;
    text-decoration: none; /* Remove underline from links */
    display: inline-block; /* Allow width and padding to affect <a> tags */
}

.button:hover, button:hover {
    background-color: #2980b9;
}

#gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    min-height: 600px;
    width: 100%;
    opacity: 0; /* Ensure it starts invisible */
    transition: opacity 1.5s ease-out; /* Transition for fading in */
}

#gallery img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform .2s ease; /* Adjusted duration */
}

#gallery img:hover {
    transform: scale(1.1);
}

/* Mobile-specific Styles */
@media (max-width: 768px) {
    body {
        padding: 5px; /* Reduced padding for smaller screens */
    }

    h1 {
        font-size: 18px; /* Further reduce font size for small screens */
        margin-bottom: 10px; /* Reduced margin for compact layout */
    }

    #buttons {
        margin-bottom: 10px;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .button, button {
        padding: 8px 16px;
        font-size: 12px;
        margin: 5px 2px;
        min-width: 100px; /* Keep minimum width to maintain readability */
        width: auto; /* Allow auto width adjustment on smaller screens */
    }

    #gallery img {
        width: 100%;
        max-width: 150px; /* Adjust max width for better mobile view */
        height: 150px;
    }
}
